body {
    font-family: 'Arial', sans-serif;
    background-color: #fceff2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    color: #ff7aa8;
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
  }
  
  #color {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #flip-btn {
    padding: 10px 20px;
    background-color: #ff7aa8;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  